@import './reset';

:root {
    --chat-background: rgba(10, 14, 14, 0.95);
    --chat-panel-background: #131719;
    --chat-bubble-background: #14181a;
    --chat-bubble-active-background: #171a1b;
    --chat-add-button-background: #212324;
    --chat-send-button-background: #8147fc;
    --chat-text-color: #a3a3a3;
    --chat-options-svg: #a3a3a3;
}

body {
    background: url('@/shared/assets/images/background/main.webp');
    background-size: cover;
    position: relative;
}

#root {
    height: 100%;
}
