.chat-page {
    height: 100vh;
    overflow: hidden;
    padding: 50px 20px;

    @media (max-width: 528px) {
        padding: 0;
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 600px;
        margin: 0 auto;
        background-color: var(--chat-background);

        @media (max-width: 528px) {
            max-width: 100%;
            border-radius: 0;
        }
    }

    &__setting-btn {
        display: grid;
        place-items: center;
        width: 64px;
        height: 64px;
        background-color: rgba(38, 38, 38, 1);

        button {
            background: transparent;
            box-shadow: none;
            border: none;
        }
    }

    &__conversation-board {
        flex: 1 1 0;
    }
}
